* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

/* Applies styles to the header */
header {
    margin: 20px 20px 0 20px;
}

header nav {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    padding: 20px 0px 0 20px;
}

header nav a {
    text-decoration: none;
    color: purple;
}

header nav a:hover {
    color: rgb(144, 0, 255);
}

/* Applies styles to the main section of the quiz*/
main p {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.5;
}

main p span {
    color: red;
}

.main-content {
    flex-direction: column;
    text-align: center;
    margin: 15% 20% 0 20%;
}

.main-heading {
    font-weight: 900;
    font-size: 56px;
    color: darkcyan;
}

/* The time on the top right of the screen that's displayed throughout the entire quiz */
.timer-container {
    display: flex;
}

.timer {
    padding-right: 10px;
}

/* Applies styling to the question that appears */
.main-heading-question {
    font-weight: 900;
    font-size: 56px;
    color: darkcyan;
    text-align: left;
}

#theList {
    padding-left: 0;
}

/* Styles the potential answers the user has to choose from that appear underneath the question */
.choice {
    display: block;
    font-size: 36px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: left;
    margin-bottom: 15px;
    background-color: darkcyan;
    border: none;
    border-radius: 20px;
    padding-left: 20px;
    width: 70%;
}

.choice:hover {
    background-color: darkblue;
    opacity: 0.5;
}

.show {
    display: flex;
}

.hide {
    display: none;
}

.banner {
    font-size: 25px;
    text-align: center;
    color: rgba(199, 187, 187, 0.8);
    font-style: italic;
    margin: 0 100px;
}

.banner h2 {
    border-top: 2px solid rgba(199, 187, 187, 0.8);
    margin: 0 auto;
    text-align: center;
    padding-top: 5px;
}

.btn-grid {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-gap: 5px;
    margin: 20px 0;
}

/* Styles the button to start the quiz */
#start-quiz {
    font-size: 36px;
    font-weight: 600;
    margin-top: 10px;
    background-color: darkcyan;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    box-shadow: none;
}

#start-quiz:hover {
    box-shadow: 5px 5px rgb(0, 0, 0, 0.3);
}

/* Styles the div that wraps the highscore information in */
.high-score-container {
    display: inline-block;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
}

.high-score-header {
    font-size: 48px;
}

.high-score-buttons {
    margin-top: 10%;
}

.high-score-btn {
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
    background-color: darkcyan;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    box-shadow: none;
}

.high-score-btn a {
    text-decoration: none;
    color: white;
}

.high-score-btn:hover {
    box-shadow: 5px 5px rgb(0, 0, 0, 0.3);
}

/* Gives the button to clear the highscores a cursor that resembles the user "clicking" it */
.clear-high-score {
    cursor: pointer;
}

.score-list li {
    color: darkblue;
    font-size: xx-large;
    font-weight: bold;
    display: inline-flexbox;
    justify-content: center;
}

.score-list li::marker {
    color: white;
}

/* Styles the content at the end of the quiz. The score and the buttons for the highscore */
.all-done-container {
    color: rebeccapurple;
    font-size: 28px;
    font-weight: 800;
    display: inline-block;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
}

.all-done-container button {
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
    background-color: rebeccapurple;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    box-shadow: none;
}

.all-done-container button:hover {
    box-shadow: 5px 5px rgb(0, 0, 0, 0.3);
}