* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

header {
    margin: 20px 20px 0 20px;
}

header nav {
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    padding: 20px 0px 0 20px;
}

header nav a {
    text-decoration: none;
    color: purple;
}

header nav a:hover {
    color: rgb(144, 0, 255);
}

.main-content {
    display: inline-flexbox;
    flex-direction: column;
    text-align: center;
    margin: 10% 20% 0 20%;
}

.main-heading {
    font-weight: 900;
    font-size: 46px;
    color: purple;
}

main p {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
}

main p span {
    color: red;
}

.start-quiz {
    font-size: 30px;
    font-weight: 600;
    margin-top: 10px;
    background-color: darkgreen;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.start-quiz:hover {
    /* maybe */
    box-shadow: 5px 5px rgb(0, 0, 0, 0.3);
}