* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

header {
    margin: 20px 20px 0 20px;
}

header nav {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    padding: 20px 0px 0 20px;
}

.timer-container {
    display: flex;
}

.timer {
    padding-right: 10px;
}

header nav a {
    text-decoration: none;
    color: purple;
}

header nav a:hover {
    color: rgb(144, 0, 255);
}

.main-content {
    flex-direction: column;
    text-align: center;
    margin: 15% 20% 0 20%;
}

.main-heading {
    font-weight: 900;
    font-size: 56px;
    color: darkcyan;
}

.main-heading-question {
    font-weight: 900;
    font-size: 56px;
    color: darkcyan;
    text-align: left;
}

main p {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.5;
}

main p span {
    color: red;
}

#theList {
    padding-left: 0;
}

.choice {
    display: block;
    font-size: 36px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: left;
    margin-bottom: 15px;
    background-color: darkcyan;
    border: none;
    border-radius: 20px;
    padding-left: 20px;
    width: 70%;
}

.choice:hover {
    background-color: darkblue;
    opacity: 0.5;
}

.show {
    display: flex;
}

.hide {
    display: none;
}

.banner {
    font-size: 25px;
    text-align: center;
    color: rgba(199, 187, 187, 0.8);
    font-style: italic;
    margin: 0 100px;
}

.banner h2 {
    border-top: 2px solid rgba(199, 187, 187, 0.8);
    margin: 0 auto;
    text-align: center;
    padding-top: 5px;
}

/*  */
/* .btn {
    background: var(--secondary);
    color: var(--white);
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 3px grey;
    margin-top: 10px;
} */

/* .btn:hover {
    background: var(--tertiary);
    border-radius: 10px;
    box-shadow: 0 2px grey;
    cursor: pointer;
}

.btn:active {
    border: none;
    outline: none;
    box-shadow: 0 0 grey;
}

.btn:focus {
    outline: none;
} */

.btn-grid {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-gap: 5px;
    margin: 20px 0;
}

/*  */
#start-quiz {
    font-size: 36px;
    font-weight: 600;
    margin-top: 10px;
    background-color: darkcyan;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    box-shadow: none;
}

#start-quiz:hover {
    /* maybe */
    box-shadow: 5px 5px rgb(0, 0, 0, 0.3);
}